*{
    box-sizing: border-box;
}
body{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh
}
h2 >{
    padding-left: 50%;
 }
 .container{
     background-color: aquamarine;
     width: 600px;
     border-radius:5%;
     max-width: 100%;
     font-size: 20px;
 }
 .container >#list >ul >li{
    padding: 4%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    list-style: none;

}
.container >#submitBtn{
    background-color: rgb(27, 51, 155);
    width: 100%;
    float: right;
    font-size: 150%;
    outline: none;
    border-radius: 5%;

}
label{
    cursor: pointer;
}

