*{
    box-sizing: border-box;
}
body{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh
}
h2 >{
    padding-left: 50%;
 }
 .container{
     background-color: aquamarine;
     width: 600px;
     border-radius:5%;
     max-width: 100%;
 }